* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #f8fafc; */
  overflow-x: hidden;
  /* max-width: 100vw; */
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all 0.3s linear;
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}
main {
  width: 100vw;
  position: relative;
}
/*
=============== 
nav
===============
*/
.nav {
  width: 100%;
  background-color: #fff;
  /* background-color: #0f051d; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  /* position: fixed;
  z-index: 1; */
}
.fixed-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  /* transition: all 0.3s linear; */
}
.nav-center {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
.nav-links {
  display: none;
}
.scroll-watcher {
  height: 5px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #0f051d;
  width: 100vw;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links a {
    margin-right: 2rem;
    text-transform: capitalize;
    color: #102a42;
    font-weight: 700;
    letter-spacing: 0.2rem;
    transition: all 0.3s linear;
    padding: 0.5rem 0;
    /* color: #fff; */
  }

  .nav-links a:hover {
    color: #2caeba;
    /* color: #ffffff88; */
    box-shadow: 0 2px #2caeba;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}
.nav-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.nav-logo {
  object-fit: cover;
}

.aside-toggle_btn {
  border: none;
  background: transparent;
  color: #0f051d;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.aside-toggle_btn:hover {
  /* color: #2caeba; */
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .aside-toggle_btn {
    display: none;
  }
}

/*
=============== 
sidebar
===============
*/
.sidebar {
  background: #f1f5f8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}

.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}

.sidebar-links li {
  opacity: 0;
}

.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: #617d98;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.sidebar-links li a:hover {
  background: #bff8fd;
  color: #2caeba;
}

.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: #bb2525;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.social-link {
  font-size: 1.75rem;
  color: #102a42;
  transition: all 0.3s linear;
}

.social-link:hover {
  color: #2caeba;
}

.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}

.sidebar-links li:first-of-type {
  animation-delay: 0.25s;
}

.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}

.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}

.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}

.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}

.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}

.sidebar-icons li a {
  color: #102a42;
}

.sidebar-icons li:first-of-type {
  animation-delay: 0.25s;
}

.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}

.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}

.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}

.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*
=============== 
hero
===============
*/
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0f051d;
  min-height: 100vh;
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
  position: relative;
}
.hero-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 10rem;
}
.hero-img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 2rem 0;
}
.hero-heading {
  color: #fff;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 1rem;
  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 4rem);
}
.hero-details {
  color: #fff;
  text-transform: capitalize;
  margin: 2rem 0;
  font-size: clamp(1rem, 2vw, 2rem);
  word-spacing: 0.5rem;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
.logos{
padding: 30px 0;
padding-bottom: 100px;
background: white;
white-space: nowrap;
position: absolute;
bottom: 0%;
width: 100%;
overflow: hidden;
}
.logos-slide{
  display: inline-block;
  animation: 5s slide infinite linear;
}
.logos-slide img{
  height: 50px;
  margin: 0 40px;
}
/*
=============== 
top link
===============
*/
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  /* background: hsla(182, 63%, 54%); */
  background-color: #0f051d;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.25rem;
  color: #fff;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
/*
=============== 
about
===============
*/
.about {
  width: 100%;
  display: grid;
  justify-items: center;
  margin: 2rem 0;
}

.about-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.about-header {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.about-details {
  line-height: 1.5;
  margin-top: 2rem;
  word-spacing: 5px;
  background-color: #fff;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s linear;
  padding: 2rem 1.5rem;
}
.about-details:hover,
.projects-details:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.about,
#projects {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (min-width: 800px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .about-header {
    font-size: 7rem;
    text-align: center;
  }
  .about-details {
    padding: 4rem 1.5rem;
    line-height: 2;
    font-size: 1.5rem;
  }
  .about-underline {
    display: none;
  }
  /* about page */
  .about-page_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .about-page_container h1 {
    font-size: 3rem;
  }
  .about-page_container .about-underline {
    display: block;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.underline {
  width: 6rem;
  height: 0.2rem;
  background-color: #000;
  text-align: center;
}
.more-about {
  width: 100%;
  max-width: 6.5rem;
  display: block;
  margin: auto;
}
.about-details_link {
  display: block;
  margin-top: 2rem;
}
/*
=============== 
projects
===============
*/
#projects {
  width: 100%;
  display: grid;
  justify-items: center;
  margin: 2rem 0;
  background-color: #f8fafc;
}
.projects-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 2rem 0;
}
.test-container {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
  width: 100%;
  /* max-width: 1200px; */
}
@media screen and (min-width: 768px) {
  .test-container {
    grid-template-columns: 1fr 1fr;
    /* fix stretch */
    align-items: start;
  }
}
/* @media screen and (min-width: 992px) {
  .test-container {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }
} */

.header-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-header {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
  /* margin: 2rem 0; */
}
.projects-details {
  line-height: 1.5;
  margin-top: 2rem;
  word-spacing: 5px;
  background-color: #fff;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s linear;
  /* padding: 2rem 1.5rem; */
  /* width: 100%; */
}
.project-img_container {
  width: 100%;
  height: 20rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  position: relative;
  overflow: hidden;
}
.project-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  transition: all 0.5s linear;
  /* transform: scale(1.1); */
}
.test {
  transform: scale(1.1);
}
.project-img_details {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #fff;
  background-color: #0f051d;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transition: all 0.5s linear;
  display: grid;
  justify-items: center;
}
.show-details {
  opacity: 1;
  /* transition-property: opacity;
  transition-duration: 2s; */
  z-index: 2;
}
.img-details_container {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.project-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.img-btns_container {
  display: flex;
  margin-top: 1rem;
  width: 70%;
  justify-content: space-around;
  gap: 2rem;
}
.view-project_btn,
.view-code_btn {
  height: 3rem;
  width: 8rem;
  padding: 5px;
  /* border-radius: 20%; */
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
.view-project_btn *,
.view-code_btn * {
  /* width: 100%; */
  color: #0f051d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
/* .view-project_btn:hover,
.view-code_btn:hover {
  background-color: #0f051d;
} */
/* .view-project_btn *:hover,
.view-code_btn *:hover {
  color: #fff;
} */
.btn-icon {
  margin-left: 0.4rem;
}
.see-more {
  padding: 8px;
  /* padding: 5px; */
  border-radius: 2rem;
  text-transform: capitalize;
  color: #fff;
  background-color: #0f051d;
  background-color: rgba(0, 0, 0, 0.5);
  animation: bounce 2s ease-in-out infinite;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
/* .see-more * {
  color: #000;
} */
.see-more:hover {
  color: #0f051d;
  background-color: #fff;
}
@media screen and (min-width: 800px) {
  /* .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  } */
  .projects-header {
    /* font-size: 7rem; */
    text-align: center;
  }
  /* .projects-details {
    padding: 4rem 1.5rem;
    line-height: 2;
    font-size: 1.5rem;
  } */
}
/*
=============== 
contact
===============
*/
#contact {
  width: 100%;
  display: grid;
  justify-items: center;
  margin: 2rem 0;
  /* background-color: #f8fafc; */
}
.contact-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 2rem 0;
}
.contact-header {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
}
.contact-details {
  width: 100%;
  display: grid;
  place-items: center;
}
.contact-details h3 {
  text-transform: capitalize;
  /* margin-bottom: 1rem; */
}
.social-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-top: 5rem; */
  margin-top: 2rem;
}
.social {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
  gap: 2rem;
  /* flex-wrap: wrap; */
  word-break: break-all;
}
.social-icon {
  /* color: #2caeba; */
}
.link {
  color: #2caeba;
  /* color: #2caeba; */
  position: relative;
  transition: all 0.3s linear;
}
.link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
  height: 0.5px;
  background-color: #2caeba;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s linear;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
footer {
  width: 100%;
  display: grid;
  justify-items: center;
  position: absolute;
  top: 100%;
  background-color: #0f051d;
  /* margin: 2rem 0; */
}
.footer-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 0.5rem;
}
.footer-social {
  margin: 0;
}
.footer-social li a {
  color: #fff;
  /* background-color: red; */
}
.footer-social li a:hover {
  color: #2caeba;
}
.footer-details {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
}
.about-stack span,
.project-stack span {
  display: inline-block;
  background: #dae2ec;
  color: #617d98;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
/*
=============== 
error
===============
*/
.error-main {
  /* height: 100vh; */
  /* position: relative; */
  height: calc(100vh - 6.1rem);
}
.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
